html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    line-height: 1;
    font-family: "Rubik", sans-serif;
    color: #4f5665;
    font-weight: 400;
    background-color: white;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Rubik", sans-serif;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-block;
    padding: 13px 45px;
    border-radius: 100rem;
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    white-space: nowrap;
}

.button--primary {
    font-weight: 700;
    background-color: #f53838;
    color: white;
}

.button--outline {
    background-color: transparent;
    color: #f53838;
    font-weight: 500;
    border: 1px solid;
}

.button--rounded {
    border-radius: 10px;
    padding: 17px 65px;
}

.button--shadow {
    position: relative;
}

.button--shadow:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 100%;
    transform: translate(-50%, 50%);
    background-color: rgba(245, 56, 56, 0.35);
    filter: blur(54px);
    border-radius: inherit;
}

.boxed {
    max-width: 555px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .button {
        padding: 13px 26px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0b132a;
    font-weight: bold;
}

.heading {
    font-weight: 500;
    font-size: 35px;
    line-height: calc(50 / 35);
    margin-bottom: 20px;
}

.heading-small {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: calc(30 / 18);
}

.text {
    line-height: calc(30 / 16);
}

.text-medium {
    font-weight: 500;
}

.text-small {
    font-size: 14px;
    line-height: calc(30 / 14);
}

@media screen and (max-width: 767px) {
    .heading {
        font-size: 30px;
    }
}

.header {
    padding-top: 50px;
    padding-bottom: 90px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-auth {
    display: flex;
    align-items: center;
    gap: 0 30px;
    text-transform: capitalize;
}

.header-signin {
    font-weight: 500;
    color: #0b132a;
}

.header-signup {
    padding: 13px 45px;
    border-radius: 100rem;
    color: #f53838;
    border: 1px solid;
    font-weight: 500;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 25px 0 50px;
    }

    .header-auth {
        display: none;
    }
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 40px;
}

.menu-link {
    color: inherit;
    display: inline-block;
}

.menu-toggle {
    display: none;
    width: 30px;
    height: 20px;
}

.menu-toggle span {
    pointer-events: none;
    width: 100%;
    height: 3px;
    background-color: #0b132a;
    display: block;
}

@media (hover: hover) {
    .menu-link {
        position: relative;
        transition: all 0.2s linear;
    }

    .menu-link:after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: auto;
        right: 0;
        width: 0;
        height: 3px;
        background-color: #f53838;
        transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .menu-link:hover {
        color: #f53838;
    }

    .menu-link:hover:after {
        width: 100%;
        left: 0;
        right: auto;
    }
}

@media screen and (min-width: 768px) {
    .menu-item--auth {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .menu {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: white;
        width: 300px;
        z-index: 99;
        border-left: 1px solid #ddd;
        flex-direction: column;
        gap: 10px 0;
        padding-top: 60px;
        align-items: stretch;
        transform: translateX(100%);
        will-change: transform;
        transition: all 0.2s linear;
    }

    .menu.is-show {
        transform: translateX(0);
    }

    .menu-link {
        display: block;
        width: 100%;
        padding: 20px;
    }

    .menu-toggle {
        display: inline-flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .menu-item--auth {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 20px;
    }
}

.hero {
    padding-bottom: 100px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 40px;
    position: relative;
}

.hero-content {
    width: 100%;
    max-width: 555px;
}

.hero-heading {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: calc(70 / 50);
    color: #0b132a;
}

.hero-desc {
    margin-bottom: 50px;
}

@media screen and (min-width: 1280px) {
    .hero-image {
        position: absolute;
        top: 50%;
        transform: translate(40px, -50%);
        right: 0;
    }
}

@media screen and (max-width: 1023px) {
    .hero-heading {
        font-size: 35px;
    }

    .hero {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .hero-container {
        flex-direction: column-reverse;
        gap: 50px 0;
    }

    .hero-desc {
        margin-bottom: 25px;
    }
}